@import 'custom';

:root {
  --primary-1: #caf0f8;
  --primary-2: #90e0ef;
  --primary-3: #00b4d8;
  --primary-4: #0077b6;
  --primary-5: #03045e;

  --dark-1: #5c6b73;
  --dark-2: #253237;
  --dark-3: #212529;

  --grey-1: #f8f9fa;
  --grey-2: #dee2e6;
  --grey-3: #adb5bd;
  --grey-4: #495057;
  --grey-5: #343a40;
  --grey-6: #212529;

  --black: #0a0a0a;
  --white:  #ffffff;
}

body {
  margin: 0;
  
}

